// Layout variables partial

$section-padding: 40px 0;
$section-padding-bottom: 40px;
$section-padding-top: 40px;

section.intro,
section.features-extra,
section.quotes,
section.gifts,
section.event-place,
section.photos
{
	background: $section-dark;
}

section.features,
section.blog,
section.events,
section.instagram,
section.map
{
	background: $section-light;
}